@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
	--black: #05060a;
	--light-blue: #0570f0;
	--pink: #ff207c;
	--green: #27e64b;
	--white: #eeeeee;
	--yellow: #ffdc35;

}

*{
        margin: 0;
        padding : 0;
        box-sizing: border-box;
}

/* global */
body{
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6{
        color: var(--light-blue);
        font-family: 'Open Sans', sans-serif;

}
a{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px !important;
}
p{
        color: var(--black);
        font-family: 'Open Sans', sans-serif;
}
.btn{
	background-color: var(--yellow) !important;
	border: 1px transparent !important;
	border-radius: 25px !important;
	color: var(--white) !important;
	transition: all 0.1s ease-in-out !important;
}
.btn:hover{
	transform: scale(1.2);
}

/*global end */


/* header nav */

.bg-custom{
	position: relative;
	background-color: var(--yellow) !important;
	height: 50px;
	z-index:4;	
}
#navbar{
	z-index: 4;
	height: 0px;
}
.navbar-toggler{
	z-index: 29;
}
.active-nav{
	color: var(--light-blue) !important;
}
.cust-text{
	color: var(--light-blue) !important;
}
/* header end */


/* welcome section*/

.vid{
	position: relative;
        height: 70vh;
        overflow: hidden;
	z-index: 3;
}
video{
  width: 100vw;
  height: auto;

}

.hero{
	position: relative;
	width: 100%;
	height: 200px;
	top: -269px;
	overflow-y: hidden;
	z-index: 4;
}


@media (max-width:768px){
	.carousel{
		height: 35vh !important;
	}
	.hero{
		top: -235px;
		height: 300px;
	}
	.cust-align{
		text-align:center;
	}
	.vid{
		height: 32vh;
	}
	.hero h3{
		font-size: 40px;
	}
	.hero p{
		padding: 15px;
	}
	.bg-custom{
		height: auto;
	}
	.cust-text{
		font-size: 10px !important;
		text-align: center; 
	}
}

@media (max-width:475px){
	.hero{
		top: -265px;
		height: 216px;
	}
	.vid{
		height: 32vh;
	}
}

/* welcome end */


/* section 1 */

.custom-margin{
	margin-top: -200px;
}

.card{
	border-radius: 10px !important;
}


@media (max-width:768px){
	.custom-margin{
		text-align: center;
	}
	.custum-margin h2{
		text-align:center;
	}
}

/* section 1 end */



/* information section */

.information{
	background-color: var(--pink);
	border:none;
	border-radius: 10px;
}

@media (max-width:768px){
	.info-img{
		width: 100px !important;
	}
}

/* information end */



/* mission*/
@media (max-width:768px){
	.cust-mission-image{
		padding: 0px !important;
	}
}


/* mission ends here(S.L.Jackson voice)*/




/* school affiliated section */
.cust-img-width{
	width: 100px;
}

@media (max-width:768px){
	.cust-img-width{
		width: 30px;
	}
}


/* school ends */



/* Gallery section*/


.gallery {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-width: 33%;
	-moz-column-width: 33%;
	column-width: 33%; }
	.gallery .pics {
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease; }
	.gallery .animation {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1); }
	
	@media (max-width: 450px) {
	.gallery {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-width: 100%;
	-moz-column-width: 100%;
	column-width: 100%;
	}
	}
	
	@media (max-width: 400px) {
	.btn.filter {
	padding-left: 1.1rem;
	padding-right: 1.1rem;
	}
	}
/* Gallery end */


/* subscription */

.subscribe-area{
	height: 35vh;
}


/* subscription end */




/* footer */


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer{
		text-align: center !important;
	}
}

/* footer end */






/* ============================ contact page==================================*/


.contact-welcome-section{
	background-image: url(../img/AdobeStock_284840354_Preview.jpeg);
	background-size: cover;
	background-position: center;
	background-color: var(--white);
	background-blend-mode: multiply;
	height: 60vh;
}
.blue-form{
	background-color: var(--light-blue);
	border: none;
	border-radius: 20px;
}
.mapd{
	border: none;
	border-radius: 20px;
}

.form-control{
	border: 2px solid var(--light-blue) !important;
	border-radius: 20px !important;
}
.bigicon{
	position: relative !important;
	top: 31px !important;
	left:400px !important;
	color: var(--black);
}

@media (max-width: 768px){
	.form-control{
		border: 2px solid var(--light-blue) !important;
		border-radius: 20px !important;
	}
	.map{
		width: 380px !important;
		height: 380px !important;
	}
	.bigicon{
		position: relative !important;
		top: 31px !important;
		left:255px !important;
	}
	.contact-welcome-section h1{
		font-size: 50px !important;
	}
}

/* ============================ contact page END==================================*/





/* ============================ what we do(about)==================================*/

.carousel{
	height: 55vh !important;
	overflow-y: hidden;
}
.carousel-caption{
	height: 55vh !important;
	overflow-y: hidden;
}

.c-about{
	height: 80vh;
}
.c-hero{
        position: relative;
        width: 100%;
        height: 200px;
	top: -350px;
	left: 40px;
	overflow-y: hidden;
}
.cust-bg-about-sec1{
	background-color: var(--pink);
	border: none;
	border-radius: 20px;
}
.about-information{
	background-color: var(--light-blue);
	border: none;
	border-radius: 20px;
}


@media (max-width: 768px){
	.carousel{
		height: auto !important;
	}
	.carousel-caption{
		height: auto !important;
	}
	
}


@media (max-width: 425px){
	.c-hero{
		position: relative;
		width: 100%;
		height: 200px;
		top: -250px;
		overflow-y: hidden;
		text-align: center !important;
	}
	.c-about{
		height: 40vh;
	}
	.custom-about-img{
		width:200px;
	}
	.carousel{
		height: auto !important;
	}
	
}



/* ============================ what we do(about) END==================================*/




/* ============================ Our programme==================================*/

.programme-welcome-section{
	background-image: url(../img/AdobeStock_284840354_Preview.jpeg);
	background-size: cover;
	background-position: center;
	background-color: var(--white);
	background-blend-mode: multiply;
	height: 60vh;
}

@media (max-width: 768px){
	.programme-welcome-section h1{
		font-size: 50px !important;
	}
}


/* ============================ Our programme END==================================*/








/* ============================ Team page==================================*/


.team img{
        border: none;
        border-radius: 50%;
        width: 200px;
}

.team-member{
        border: none;
        border-radius: 20px;
        margin-bottom: 20px;
        background-color: var(--yellow);
}

@media (max-width: 768px){
        .team img{
                width: 100px;
        }
}


/* ============================ Team page END==================================*/
